/*
|----------------------------------------------------------------
| Dashboard style.
|----------------------------------------------------------------
 */
 .fileupload{
 	display: block;
 	max-width: 220px;
 	width: 100%;
 	padding: 8px 12px;
 	border: 1px solid transparent;
 	border-radius: 2px;
 	font-size: 15px;
 	font-weight: 300;
 	text-align: center;
 }

.upload-blue{
	border-color: #4799B5;
	background-color: #52A4BF;
	color: #fafafa;
	&:hover{
		color: #fff;
	}
}

.dashboard{
	.inventory-notification{
		width: 100%;
		border-top: 5px solid $dangerLbl;
	}

	.add-product{
		width: 100%;
		border-top: 5px solid $warningLbl;
	
		.btn-add-product{
			position: absolute;
			bottom: 10px;
			left: 260px;
		}
	}

	.product-offers{
		width: 100%;
		border-top: 5px solid $successLbl;
	}
}

.system-manage{
	position: relative;
	padding: 20px 0;
	
}

.product-management{
	position: relative;
	.settings-btn{
		padding: 6px 8px;
		border-radius: 2px;
		background-color: $successLbl;
		color: #fff;
	}
	.active-settings-btn{
		background-image: url('../img/icons/active-settings-btn.png');
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}

.manage-product-form{
	position: relative;
	button[type='submit']{
		background-color: transparent;
		border: 0;
		position: absolute;
		right: 6px;
		top: 5px;
		outline: 0;
	}
}

.search-result{
	position: relative;
	padding: 15px 0;
	margin: 0 auto;
}




