/*
|----------------------------------------------------------------
| Dashboard style.
|----------------------------------------------------------------
 */
 .fileupload{
 	display: block;
 	max-width: 220px;
 	width: 100%;
 	padding: 8px 12px;
 	border: 1px solid transparent;
 	border-radius: 2px;
 	font-size: 15px;
 	font-weight: 300;
 	text-align: center;
 }

.upload-blue{
	border-color: #4799B5;
	background-color: #52A4BF;
	color: #fafafa;
	&:hover{
		color: #fff;
	}
}

.dashboard{
	.inventory-notification{
		width: 100%;
		border-top: 5px solid $dangerLbl;
	}

	.add-product{
		width: 100%;
		border-top: 5px solid $warningLbl;
	
		.btn-add-product{
			position: absolute;
			bottom: 10px;
			left: 260px;
		}
	}

	.product-offers{
		width: 100%;
		border-top: 5px solid $successLbl;
	}
}