/*
|----------------------------------------------------------------
| App variables.
|----------------------------------------------------------------
 */
$border: #dddde6;
$primaryClr: #4a4a4a;
$genFont: "Roboto", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$borderLight: rgba(221, 221, 230, 0.5);

// color palets.
$clr_white: #fff;

// label variables.
$defaultLbl: #777;
$primaryLbl: #337ab7;
$successLbl: #5cb85c;
$infoLbl: #5bc0de;
$warningLbl: #f0ad4e;
$dangerLbl: #d9534f;
